.evaluation-produit {
    margin-top: 2rem;
}

.evaluation {
    background-color: #f9f9f9;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.soumettre-evaluation select,
.soumettre-evaluation textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.soumettre-evaluation button {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.soumettre-evaluation button:hover {
    background-color: #218838;
}
